<div class="container home">
  <div class="row">
    <div class="col">
      Most Recent Top 10 Posts in Your Area
    </div>
    <div class="col-5">
      Your Posts
    </div>
    <div class="col">
      Search
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet"> 
