<h1 class="home-title">User Homepage</h1>

<div class="row home-row">
  
      <div class="col s4">
        <h3>Most Recent Top 10 Posts in Your Area</h3>
        {{!-- {{#each recent}} --}}
        <div class="comment">
          {{!-- <h2>{{recent.title}}</h2>
          {{recent.body}} --}}
        </div>
      </div>

      <div class="col s4">
        <h3>Search Posts</h3>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger float-right" href="#modal1">Post</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
        {{!-- form goes here --}}
          <div class="input-field col s12">
            <select>
              <option value="">Choose your Category</option>
              <option value="event">Event</option>
              <option value="free">Free</option>
              <option value="report">Report (Roadwork, Suspicious Activity, etc)</option>
              <option value="sale">For Sale/Service Offered</option>
              <option value="missed">Missed Connections</option> 
            </select>
            <label>Category Select</label>
          </div>

          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Title</label>
                </div>
              </div>
            </form>
          </div>

          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Add details about your post</label>
                </div>
              </div>
            </form>
          </div>
        
        </div>

        <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
        </div>
        </div>

      <div class="col s4">
        <h3>Your Posts</h3>
      </div>

</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet"> 

 <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">