<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="header" src="/images/header.JPG">
      </div>
      <div class="col-8 main">
        
        <h2>Log-in Page</h2>
        <form class="clearfix mb-4" action="POST">
          <a href="/home"><button type="button" class="btn btn-secondary float-right">Home Page</button></a>
          <div class="form-group">
            <label for="example-text">Username</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter username here">
          </div>
          <div class="form-group">
            <label for="example-text">Password</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Password must include at least one number and one symbol">
          </div>
          <a href="/auth/login"><button type="button" id="submit" class="btn btn-primary float-left">Log-In</button></a>
          <a href="/auth/google"><button class = "btn btn-secondary float-right google-btn">Use Google</button></a>
          <a href="/auth/signup"><button type="button" class="btn btn-secondary float-right">Sign Up</button></a>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet"> 
