{{!-- <form action="/api/users" method="POST">
  <input type="text" name="name">
  <input type="text" name="email">
  <input type="text" name="zipcode">
  <input type="text" name="password">
  <input type="submit" value="Submit">

</form> --}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="header" src="/images/header.JPG">
      </div>
      <div class="col-8 main">
        <h2>Sign Up to get In Da Hood</h2>

        <form action="/signup" method="POST" class="clearfix mb-4">

          <div class="form-group">
            <label for="example-text">Full Name</label>
            <input type="text" name="name" id="first" class="form-control" aria-describedby="example-text" placeholder="John Smith">
            {{name}}
          </div>

          <div class="form-group">
            <label for="example-text">Email</label>
            <input type="text" name="email" id="email" class="form-control" aria-describedby="example-text" placeholder="john.smith@gmail.com">
            {{email}}
          </div>

          <div class="form-group">
            <label for="example-text">Password</label>
            <input type="text" name="password" id="pass" class="form-control" aria-describedby="example-text"
              placeholder="Password must include at least one number and one symbol">
            {{password}}
          </div>

          <div class="form-group">
            <label for="example-text">Zipcode</label>
            <input type="text" name="zipcode" id="zip" class="form-control" aria-describedby="example-text" placeholder="95411">
            {{zipcode}}
          </div>

          <input type="submit" value="Submit">
          {{!-- <a href="/api/users"><button type="button" id="signup-btn" class="btn btn-primary float-left">Submit</button></a>
          --}}

        </form>
      </div>
    </div>
  </div>
</div>