<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="header" src="/images/header.JPG">
      </div>
      <div class="col-8 main">
        <h2>Sign Up to use Mad About Town</h2>
        <h2>Users of this app must have an account to post and access information.</h2>
        <h2>Fill out the form to create a username.</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Username</label>
            <input type="text" id="user" class="form-control" aria-describedby="example-text" placeholder="Enter username here">
            {{name}}
          </div>
          <div class="form-group">
            <label for="example-text">First Name</label>
            <input type="text" id="first" class="form-control" aria-describedby="example-text" placeholder="John">
            <!--has this structure of username, firstname, lastname been updated in Tony's database?-->
          </div>
          <div class="form-group">
            <label for="example-text">Last Name</label>
            <input type="text" id="last" class="form-control" aria-describedby="example-text" placeholder="Smith">
            <!--has this structure of username, firstname, lastname been updated in Tony's database?-->
          </div>
          <div class="form-group">
            <label for="example-text">Email</label>
            <input type="text" id="email" class="form-control" aria-describedby="example-text" placeholder="john.smith@gmail.com">
            {{email}}
          </div>
          <div class="form-group">
            <label for="example-text">Zipcode</label>
            <input type="text" id="zip" class="form-control" aria-describedby="example-text" placeholder="95411">
            {{zipcode}}
          </div>
          <div class="form-group">
            <label for="example-text">Password</label>
            <input type="text" id="pass" class="form-control" aria-describedby="example-text" placeholder="Password must include at least one number and one symbol">
            {{password}} <!--does this conflict w/ Kamran's password verification?-->
          </div>
          <div class="form-group">
            <label for="example-text">Confirm Password</label>
            <input type="text" id="confirm" class="form-control" aria-describedby="example-text" placeholder="Reenter password here">
          </div>
          <button type="button" id="signup-btn" class="btn btn-primary float-left"><a href="/api/users">Submit</a></button>
          
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet"> 
