.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url("/images/map_background.png");
  font-family: 'Unlock', cursive;
}

.main {
  background-color: white; 
}

.container {
  padding: 20px;
  margin: 20px; 
  align-content: center;
}

div.container.home {
  background-color: lightsalmon; 
  padding: 20px;
  margin: 20px;
}

.header {
  width: 100px;
  height: 300px;
  border: solid 1px;
}

.col, .col-5 {
  padding:20px;
}

button {
  padding: 20px;
  margin: 20px;
}

.modal {
  display:none;
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(0,0,0,0.4);
}

.modal-visible {
  display:block;
}

.modal-body {
  width:300px;
  height:200px;
  background:#fff;
  padding:20px;
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
